<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger - %msg%n" />
    </Console>
    <File name="PersistentLog" filename="${build.directory}/${project.artifactId}.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger - %msg%n" />
    </File>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console" level="debug" />
      <AppenderRef ref="PersistentLog" level="trace" />
    </Root>
  </Loggers>
</Configuration>